@import '../Square/Square.module.scss';

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, $square-width);
  grid-gap: $square-width / 5;
}

.boardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.status {
  margin-bottom: 4rem;
  color: #fff;
  font-size: 2.5rem;
  font-family: arial;
  letter-spacing: 2px;
}
