$square-height: 150px;
$square-width: 150px;

.square {
  width: $square-height;
  height: $square-width;
  background-color: #fff;
  border-radius: 20%;
  cursor: pointer;
  border: none;
  font-size: 4rem;
}
